body {
  display: flex;
  gap: 20px;
}

.purple {
  background-color: purple;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
}



.yellow-box {
    background-color: #FFECBB;
    width: 46px;
    height: 47px;
    border: 1px solid #000;

}


.title {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #FFECBB;
  border: 1px solid #000; 
  text-align: center;
}

.blue-box {
    background-color: #84CEF9;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    text-align: center;
}