@import url(./css/blue.css);
@import url(./css/purple.css);
@import url(./css/yellow.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-yellow {
  width: 226px;
  height: 337px;
  background-color: #FFECBB;
}


/* body {
  display: flex;
  gap: 20px;
}

.purple {
  background-color: purple;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
}

.yellow-box {
  background-color: #FFECBB;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  text-align: center;
}

.title {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #FFECBB;
  border: 1px solid #000;
  text-align: center;
}

.blue-box {
  background-color: #84CEF9;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  text-align: center;
} */